<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthentication" />
                <binding name="BasicHttpBinding_IRouter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rm17.rocketmatter.net/Rocket700560/API_V2/Authentication.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication"
                contract="Authentication.IAuthentication" name="BasicHttpBinding_IAuthentication" />
            <endpoint address="http://web10.rocketmatter.com/router/Router.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouter"
                contract="Router.IRouter" name="BasicHttpBinding_IRouter" />
        </client>
    </system.serviceModel>
</configuration>